<nav>
    <div class="site-title">
      <a href="/"><h1>Books Directory</h1></a>
      <p>A Zartaj Codings' Site</p>
    </div>
    <ul>
        
      <form class="form" action="/search" method="get">
        <label for="name">Search by book name</label>
        
        <input id="name" name="name" required>
              <button>Submit</button>
            </form>
      <li><a href="/">Home</a></li>
      <li><a href="/all">All Books</a></li>
      <li><a href="/add">add Book</a></li>
    </ul>
  </nav>
  