<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<h1>Welcome to Books directory  </h1>


<h2>Here you can add ur favourite books and store them in a database .</h2>



<%- include("./partials/foot.ejs") %>

